<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

    <nav>
        <ul>
            <li>
                <a href="{{ path('stepy-akermanskie') }}">Stepy akermańskie</a>
            </li>

            <!-- A -->
            <li>
            <a href="{{ path('hymn') }}">Hymn</a>
        </li>


            <!-- B -->
             <li>
            <a href="{{ path('poemat-lublin') }}">Poemat o miescie Lublin</a>
            </li>

        <!-- B -->

            <!-- C -->
            <li>
                <a href="{{ path('jedzie-pociag') }}">Jedzie pociąg</a>
            </li>

            <!-- D -->
            <li>
                <a href="{{ path('pawel-i-gawel') }}">Paweł i Gaweł</a>
            </li>

            <!-- E -->


            <!-- F -->
            <li>
            <a href="{{ path('w-ogrodzie') }}">W Ogrodzie</a>
            </li>


            <!-- G -->
            <li>
            <a href="{{ path('list-do-syna') }}">List do Syna</a>
            </li>


            <!-- H -->


            <!-- I -->


            <!-- J -->


            <!-- K -->

            <li>
            <a href="{{ path('carpe-diem') }}">Carpe diem</a>
            </li>
            <!-- L -->


            <!-- M -->


            <!-- N -->


            <!-- O -->

  <li>
               <a href="{{ path('Oprzyjdz') }}">O przyjdz</a>
            </li>

            <!-- P -->


            <!-- Q -->


            <!-- R -->


            <!-- S -->

            <li>
                <a href="{{ path('ginsberg') }}">Allen Ginsberg - America</a>
            </li>

            <!-- T -->

            <li>
                <a href="{{ path('testament-moj') }}">Testament mój</a>
            </li>

            <!-- U -->


            <!-- V -->


            <!-- W -->
            <li>
                <a href="{{ path('wilczek') }}">Wilczek</a>
            </li>
            <!-- X -->


            <!-- Y -->


            <!-- Z -->
            
            
            
            
            <li>
                <a href="{{ path('rozum-i-wiara') }}">Rozum i wiara</a>
            </li>


        </ul>
    </nav>


        {% block body %}{% endblock %}

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
